/**************
 ! Window frame
***************/

@include exports("window") {
    %window {
        box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22), 0 0 0 1px $wm_border_focused;

        &:backdrop {
            box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23), 0 0 0 1px $wm_border_unfocused;
        }
    }

    .window-frame {
        @extend %window;

        border: 0;
        border-radius: $roundness $roundness 0 0;

        /* this is used for the resize cursor area */
        margin: $spacing * 3;

        &.tiled { border-radius: 0; }

        &.solid-csd {
            border-radius: 0;
            margin: 1px;
            background-color: $bg_color;
            box-shadow: none;
        }

        &.csd {
            &.popup {
                @extend %window;

                border-radius: 0;
            }

            &.tooltip {
                border-radius: $roundness;
                box-shadow: none;
            }

            &.message-dialog {
                @extend %window;

                border-radius: $roundness;
            }
        }

        &.ssd {
            &.maximized { border-radius: 0; }
        }
    }
}
